* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 16px;
}

body {
  background: linear-gradient(135deg, #ede9fe, #ddd6fe);
}

.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
}

.content {
  display: flex;
  background: #ffffff;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 15px 40px rgba(124, 58, 237, 0.2);
  max-width: 1400px;
  width: 100%;
}

.image-container img {
  width: 650px;
  height: 100%;
  object-fit: cover;
}

.card {
  padding: 90px;
  width: 1000px;
}

h1 {
  color: #7c3aed;
  margin-bottom: 30px;
  font-size: 32px;
  text-align: center;
}

form {
  margin-bottom: 25px;
}

input {
  width: 100%;
  padding: 16px;
  margin-bottom: 14px;
  border: 1px solid #ddd6fe;
  border-radius: 12px;
  background: #f5f3ff;
}

button {
  width: 100%;
  padding: 16px;
  background: linear-gradient(135deg, #a78bfa, #7c3aed);
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.03);
  background: linear-gradient(135deg, #8b5cf6, #6d28d9);
}

ul {
  list-style: none;
}

li {
  background: #f5f3ff;
  padding: 16px;
  border-radius: 12px;
  margin-top: 10px;
  color: #5b21b6;
  box-shadow: 0 5px 15px rgba(124, 58, 237, 0.1);
}

footer {
  margin-top: 30px;
  color: #7c3aed;
  font-size: 16px;
  font-weight: bolder;
}